.ekart-search-product{
    display:felx;
    text-align:center;
}

.ekart-search-result{
    display:felx;
    text-align:center;
}
.btn {
    padding:5px 10px;
    color:brown;
}
.btn-search{
    padding: 15px,30px;
    background-color: black;
}
.btn-search-disabled{
    background-color: red;
}