<div class="ekart-header" style="color:red"> header_starts
    <div class="ekart-logo">
        eKart
    </div>
    <div clas="ekart-header-nav">
        <div class="ekart-top-bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>
        <div class="ekart-bottom-bar">
            <div class="ekart-menu">
                <a href="#">Home</a>
                <a href="#">Product</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="ekart-search-bar">
                <input type="text" class="ekart-search-box" placeholder="Search">
                <button class="ekart-search-btn">Click me
                </button>
            </div>
        </div>
    </div>
</div>